*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

body {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

/* Prevent flash of light theme colour when in dark */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #2B2A33;
	}
}

body.t-light {
	background-color: #F9F9FB;
}

body.t-dark {
	background-color: #2B2A33;
}

.cntp-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	border: 0;
}
