/* GENERIC HELPER */
.is-hidden { display: none !important; }


/* GENERIC FORM */
.form {
	padding: 12px 0;
}

.form__field {
	margin-bottom: 14px;
}

.form__label {
	display: block;
	margin-bottom: 2px;
	font-weight: bold;
}

.form__hint {
	display: block;
	/* font-style: italic; */
}

.form__input {
	display: block;
	margin-top: 8px;
}

.form__input--textlike {
	width: 80%;
	height: 2.5em;
	padding: 4px 6px;
}

.form__input--select {
	display: block;
}

.form__actions {}


/* CUSTOM */
.field-theme__inputs {
	display: flex;
}

.field-theme__custom-background-color {
	margin-left: 1em;
}
